html {
    background: lightgray;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    background-color: red;
}

/*header*/
.fixed-bar {
    height: 70px;    
}

.page-title {
    position: fixed ;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #521751;
    font-size: 20px;
    color: white; 
    padding: 10px 0;
    margin: 0;
    text-align: center;
}

/*nav*/
.navigation {
    text-align: center;
    padding: 0;
 }

.navigation li, .navigation a{
     display: inline-block;
     width: 70px;
     background-color: gray;
 }

/*main*/
.trip-text {
    background-color: #fa923f;
    padding: 0;
    display: flex;
}

.trip-text p {
    background-color: #521751;
    color: white;
    margin: 0;
    width: 50%;
    text-align: center;
}

.trip-images {
    display: flex;  
    flex-wrap: wrap;  
}

.trip-images img {
    width: 50%;
    min-width: 200px;
    max-width: 500px;
    height: 100%;

}
.feedback {
    position: relative; 
    bottom: 18.4px; 
    background-color: #521751;
    color: white;
    text-align: center;  
    margin: 0;
}

.review-clients {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    border: 1px solid black;
    background-color: white;
    margin: 10px;
}

.review-clients img {
    width: 120px;
}

.review-clinets p {
    width: 350px;
    text-align: center;
}

/*footer*/
